html,
body {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  @extend %raleway-400;
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $black;
  font-size: 18px;
  line-height: 130%;
}

.container-main {
  max-width: 1652px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 992px) {
    padding: 0 78px;
  }

  @media (max-width: 568px) {
    padding: 0 27px;
  }

  @media (max-width: 374px) {
    padding: 0 15px;
  }
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 992px) {
    padding: 0 72px;
  }

  @media (max-width: 568px) {
    padding: 0 27px;
  }

  @media (max-width: 374px) {
    padding: 0 15px;
  }
}

.main {
  flex-grow: 1;
}

/* SLIDER */

.itc-slider {
  position: relative;
}

.itc-slider__wrapper {
  overflow: hidden;
}

.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__transition-none {
  transition: none;
}

.itc-slider__item {
  flex: 0 0 auto;
  max-width: 100%;
  user-select: none;
  will-change: transform;

  &:first-child {
    @media (max-width: 992px) {
      padding-left: 72px;
    }

    @media (max-width: 568px) {
      padding-left: 27px;
    }

    @media (max-width: 374px) {
      padding-left: 15px;
    }
  }

  &:last-child {
    @media (max-width: 992px) {
      padding-right: 72px;
    }

    @media (max-width: 568px) {
      padding-right: 27px;
    }

    @media (max-width: 374px) {
      padding-right: 15px;
    }
  }
}

/* кнопки влево и вправо */
.itc-slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 60px;

  border-radius: 80px;
  background: $white;
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.15);

  border: none;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  cursor: pointer;

  @media (max-width: 1200px) {
    display: none;
  }
}

.itc-slider__btn_prev {
  left: 18%;
}

.itc-slider__btn_next {
  right: 18%;
}

.itc-slider__btn:hover,
.itc-slider__btn:focus {
  background-color: darken($color: $white, $amount: 10%);
  outline: 0;
}

.itc-slider__btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.itc-slider__btn_prev::before {
  background-image: url('../images/icons/arrow-slider-left.svg');
}

.itc-slider__btn_next::before {
  background-image: url('../images/icons/arrow-slider-right.svg');
}
