@import 'vars';
/* Цвет */
@import 'fonts';
/* Шрифты */
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */
@import '../../node_modules/swiper/swiper-bundle';

.header,
.footer {
  padding: 18px 0 20px;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      justify-content: flex-start;
      gap: 41px;
    }

    @media (max-width: 568px) {
      gap: 27px;
    }

    @media (max-width: 375px) {
      gap: 10px;
    }
  }

  .logo__text {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .logo__box {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 992px) {
      flex-grow: 1;
    }
  }

  .logo__img {
    min-width: 47px;
    height: 54px;

    @media (max-width: 992px) {
      min-width: 40px;
      height: 47px;
    }

    @media (max-width: 568px) {
      min-width: 32px;
      height: 37px;
    }
  }

  .logo__name {
    @extend %raleway-700;
    font-size: 30px;
    line-height: 85%;

    @media (max-width: 992px) {
      font-size: 26px;
    }

    @media (max-width: 568px) {
      font-size: 20px;
    }
  }

  .logo__slogan {
    @extend %raleway-500;
    font-size: 14px;
    line-height: 100%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .contact-m {
    display: none;

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      gap: 34px;
    }

    .contact__link {
      @extend %raleway-700;
      color: $black;
      font-size: 20px;
      line-height: 140%;
      transition: all 0.3s linear;

      &:hover {
        color: lighten($color: $black, $amount: 20%);
      }

      @media (max-width: 805px) {
        display: none;
      }
    }
    .contact__btn-m {
      @extend %raleway-700;
      font-size: 13px;
      line-height: 140%;
      letter-spacing: 0.13px;
      max-width: 181px;
      height: 35px;
      padding: 10px 48px 10px 20px;
      border-radius: 10px;
      background-color: transparent;
      border: 1px solid #000;
      background-image: url('../images/icons/time-m.svg');
      background-repeat: no-repeat;
      background-position: 90% center;

      @media (max-width: 568px) {
        max-width: 109px;
        height: 29px;
        padding: 6px 35px 5px 20px;
      }
      span {
        &:nth-child(1) {
          @media (max-width: 568px) {
            display: none;
          }
        }

        &:nth-child(2) {
          @media (max-width: 568px) {
            display: none;
          }
        }

        &:nth-child(3) {
          display: none;
          @extend %raleway-800;

          @media (max-width: 568px) {
            display: block;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.12px;
          }
        }
      }
    }
  }

  .menu {
    .menu__burger {
      display: none;
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      background-image: url('../images/icons/burger.svg');
      background-repeat: no-repeat;
      background-position: center center;

      @media (max-width: 992px) {
        display: block;
      }
    }
    .menu__box {
      display: flex;
      align-items: center;
      gap: 62px;

      @media (max-width: 992px) {
        display: none;

        &.active {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 80%;
          padding: 89px;
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
          display: block;
          background-color: #fff;
        }
      }
    }

    .menu__list {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .menu__link {
      @extend %raleway-600;
      font-size: 16px;
      line-height: 100%;
      color: $black;
      transition: all 0.3s linear;

      &:hover {
        color: lighten($color: $black, $amount: 20%);
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 37px;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .contact__slogan {
    position: relative;
    @extend %raleway-500;
    font-size: 12px;
    line-height: 100%;
    padding-left: 42px;

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: url('../images/icons/time.svg');
    }
  }

  .contact__btn {
    @extend %btnBlack;
  }

  .contact__tel {
    @extend %raleway-700;
    font-size: 20px;
    line-height: 140%;
    color: $black;
    margin-right: 47px;
    transition: all 0.3s linear;
    &:hover {
      color: lighten($color: $black, $amount: 20%);
    }
  }
}

/* TOP */

.top {
  background-color: $accent;
  background-image: url('../images/icons/layer-bg.svg');
  background-repeat: no-repeat;
  background-position: 60% 60%;
}

.top__inner {
  display: flex;
  align-items: center;
  height: calc(100vh - 92px);
}

.top__items {
  position: relative;
  max-width: 845px;
}

.top__slogan {
  position: relative;
  @extend %raleway-700;
  color: $white;
  padding-left: 44px;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 9px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('../images/icons/speed.svg');
  }

  span {
    color: #edff24;
    font-size: 24px;
    line-height: 100%;
  }
}

.top__title {
  @extend %raleway-800;
  font-size: 80px;
  color: $white;
  line-height: 100%;
  letter-spacing: -0.8px;
  margin-bottom: 30px;

  span {
    position: relative;
    color: $accent;
    font-size: 100px;
    line-height: 110%;
    z-index: 1;

    &::after {
      position: absolute;
      top: 30px;
      left: 0;
      content: '';
      background-color: #fff;
      width: 100%;
      height: 77px;
      z-index: -1;
    }
  }
}

.top__list {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-bottom: 132px;
}

.top__item {
  position: relative;
  @extend %raleway-700;
  width: 290px;
  font-size: 24px;
  line-height: 100%;
  color: $white;
  padding-left: 54px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: url('../images/icons/top-ok.svg');
  }
}

.top__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__text {
  position: relative;
  @extend %raleway-600;
  max-width: 400px;
  color: #d8e2f0;
  font-size: 16px;
  line-height: 100%;
  padding-left: 40px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: url('../images/icons/defender.svg');
  }
}

.top__btn {
  @extend %btn;
  height: 60px;
}

.top__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% - 800px);
  min-width: 706px;
  min-height: 625px;
}

/* FOOTER */

.footer {
  padding: 41px 45px;
  background-color: $bg;
}

.footer__copy {
  margin-top: 28px;
  padding-top: 28px;
  border-top: 1px solid #d4dae5;
}

.footer__text {
  max-width: 1143px;
  font-size: 12px;
  line-height: 130%;
  color: #9fa5ad;
}

/* ABOUT */

.about {
  padding: 69px 0 65px;
}

.about__title {
  @extend %h2;
  margin-bottom: 20px;
}

.about__inner {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 50px;
}
.about__row {
}

.about__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}

.about__top-text {
  @extend %raleway-500;
  font-size: 18px;
  line-height: 130%;
}
.about__text {
  max-width: 600px;
}

.about__team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.about__decor-box {
  display: flex;
}
.about__img {
}

.about__cercle {
  position: relative;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 154px;
  height: 154px;
  text-align: center;
  border-radius: 50%;
  color: $white;
  background-color: $accent;
}

.about__bottom {
}
.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about__list-first {
  border-radius: 20px;
  border: 0.7px solid #d8e2f0;
  margin-bottom: 41px;
  .about__item {
    position: relative;
    padding: 85px 110px 46px 55px;
    border-right: 0.7px solid #d8e2f0;
    &:last-child {
      border-right: none;
    }
    &-garanty::after {
      content: url('../images/icons/garanty.svg');
      position: absolute;
      top: 30px;
      right: 30px;
    }
    &-calendar::after {
      content: url('../images/icons/calendar.svg');
      position: absolute;
      top: 30px;
      right: 30px;
    }
    &-accept::after {
      content: url('../images/icons/accept.svg');
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
  .about__name {
    @extend %raleway-700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 10px;
  }
  .about__desc {
    @extend %raleway-400;
    font-size: 16px;
    line-height: 130%;
  }
}

.about__list-second {
  .about__item {
    position: relative;
    @extend %raleway-400;
    justify-self: center;
    padding-left: 60px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.2px;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: url('../images/icons/about-ok.svg');
    }
  }
  .about__name {
    @extend %raleway-600;
  }
  .about__desc {
    color: $lightGrey;
  }
}

/* WORK */

.work {
  padding-bottom: 96px;
}

.work__inner {
  border-radius: 50px;
  background: #eef0f4;
  padding: 55px 0 60px;
}

.work__top {
  margin-bottom: 63px;
}

.work__title {
  @extend %h2;
  margin-bottom: 40px;
}

.work__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work__top-slogan {
  @extend %raleway-500;
  max-width: 355px;
  font-size: 20px;
  line-height: 130%;
}
.work__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.work__top-item {
  position: relative;
  @extend %raleway-600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  height: 69px;
  padding: 10px 30px 10px 67px;
  border-radius: 80px;
  border: 1px solid #cbd4e8;
  background: $white;
  &:nth-child(1)::before {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 30px;

    content: url('../images/icons/door.svg');
  }
  &:nth-child(2)::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;

    content: url('../images/icons/avto.svg');
  }
  &:nth-child(3)::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;

    content: url('../images/icons/garage.svg');
  }
  &:nth-child(4)::before {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 30px;

    content: url('../images/icons/safe.svg');
  }
}

.work__top-item-first {
  @extend %raleway-600;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 60px;
  gap: 10px;
  border: 2px solid $accent;

  span:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    color: $black;
  }

  span:nth-child(2) {
    font-size: 13px;
    line-height: 100%;
    color: $lightGrey;
  }
}

.service {
  .service__item {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    padding: 50px 73px 40px 0px;
    border-radius: 20px;
    background-color: $white;
    margin-bottom: 63px;
  }

  .service__img-box {
    position: relative;
    top: -80px;
    left: -50px;
  }

  .service__img {
    width: 557px;
    height: 450px;
    margin-bottom: 8px;
  }

  .service__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-left: 100px;

    span:nth-child(1) {
      @extend %raleway-700;
      font-size: 30px;
      line-height: 80%;
      letter-spacing: -0.3px;
    }

    span:nth-child(2) {
      @extend %raleway-400;
      color: #404346;
      font-size: 14px;
      line-height: 120%;
    }
  }

  .service__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 654px;
  }
  .service__title {
    position: relative;
    @extend %h3;
    padding-left: 48px;
    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      content: url('../images/icons/door.svg');
    }
  }
  .service__slogan {
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;
  }

  .service__text-strong {
    position: relative;
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;

    span {
      color: $accent;
    }
  }

  .service__text-strong-decor {
    padding-left: 50px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: url('../images/icons/around-clock.svg');
    }
  }

  .service__box {
    display: flex;
    gap: 10px;
  }

  .service__list {
    width: 315px;
    padding-left: 20px;
  }

  .service__items {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $black;
    }
  }
  .service__btn {
    @extend %btn;
  }
}

/* UPGRADE */

.upgrade {
  margin-bottom: 100px;
}
.upgrade__inner {
  position: relative;
  &:after {
    position: absolute;
    top: -30px;
    left: 0;
    content: url('../images/icons/zig-zag-line.svg');
  }
}
.upgrade__title {
  @extend %h2;
  margin-bottom: 30px;
}
.upgrade__content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid $white;
  background-color: #f4f3ff;
}
.upgrade__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 647px;
  padding: 118px 0 56px 90px;
}
.upgrade__text-accent {
  @extend %raleway-700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: $accent;
}
.upgrade__text-strong {
  @extend %raleway-600;
  font-size: 20px;
  line-height: 130%;
  span {
    color: $accent;
  }
}
.upgrade__btn {
  @extend %btn;
  background-color: $accent;
  &:hover {
    background-color: lighten($color: $accent, $amount: 10%);
  }
}
.upgrade__img {
  padding: 50px 35px 40px 0;
}

.decor {
  position: relative;
  z-index: 1;
}

/* STAGE */

.stages {
  margin-bottom: 120px;
}

.stages__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 140px;
}
.stages__item {
}
.stages__title {
  @extend %h2;
  margin-bottom: 20px;
}
.stages__slogan {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 45px;
}
.stages__btn {
  @extend %btn;
}
.stages__items {
  display: flex;
  justify-content: space-between;
}
.stages__box {
  position: relative;
  width: 190px;
}
.stages__cercle {
  @extend %raleway-500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.24px;
  border-radius: 50%;
  color: $accent;
  width: 70px;
  height: 70px;
  border: 1px solid #c7b0e3;
  margin-bottom: 10px;
  &1:after {
    position: absolute;
    top: 37px;
    left: 70px;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e9e3f0;
  }
}
.stages__subtitle {
  @extend %raleway-600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}
.stages__text {
  font-size: 16px;
}
.stages__tel {
  @extend %raleway-700;
  display: block;
  font-size: 20px;
  line-height: 140%;
  color: $black;
  margin-top: 10px;
}

/* INFO */

.info {
  margin-bottom: 60px;
}
.info__inner {
  border-radius: 50px;
  background-color: #eef0f4;
}
.price {
  padding: 55px 0 47px;
  border-radius: 50px;
  background-color: $accent;
  background-image: url(../images/icons/info-bg.svg);
  background-repeat: no-repeat;
  background-position: 73% bottom;
}
.price__title {
  @extend %h2;
  color: $white;
  margin-bottom: 31px;
}
.price__list {
  display: flex;
  gap: 5px;
  margin-bottom: 34px;
}
.price__item {
  position: relative;
  border-radius: 20px;
  background: $white;
  padding: 60px 36px 21px 30px;
  &::before {
    position: absolute;
    top: 20px;
    right: 40px;
    content: url('../images/icons/ok-accent.svg');
  }
}
.price__num {
  @extend %raleway-700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.4px;
}
.price__desc {
  font-size: 18px;
  line-height: 130%;
}
.price__text {
  position: relative;
  @extend %raleway-600;
  max-width: 400px;
  font-size: 18px;
  line-height: 110%;
  color: $white;
  padding-left: 30px;
  &::before {
    position: absolute;
    top: 4px;
    left: 0;
    content: url('../images/icons/important.svg');
  }
}
.faq {
  padding: 55px 0 50px;
}
.faq__title {
  @extend %h2;
  margin-bottom: 31px;
}
.faq__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.faq__question {
  border-radius: 20px;
  background: $white;
  padding: 25px 60px 30px 102px;
}
.faq__subtitle {
  @extend %raleway-600;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 20px;
}
.faq__text {
  font-size: 16px;
  line-height: 130%;
}

@import 'media';
/* медиа-запросы */
