@import 'vars';
/* Цвет */
@import 'fonts';
/* Шрифты */
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */
@import '../../node_modules/swiper/swiper-bundle';

/* body {
  background-image: url('../images/tab.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.3;
} */

.header,
.footer {
  padding: 18px 0 20px;

  @media (max-width: 992px) {
    padding: 10px 0 20px;
  }

  @media (max-width: 568px) {
    padding: 15px 0 20px;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      justify-content: flex-start;
      gap: 41px;
    }

    @media (max-width: 568px) {
      gap: 27px;
      justify-content: space-between;
    }

    @media (max-width: 375px) {
      gap: 10px;
    }
  }

  .logo__text {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .logo__box {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 992px) {
      flex-grow: 1;
    }

    @media (max-width: 568px) {
      flex-grow: 0;
    }
  }

  .logo__img {
    min-width: 47px;
    height: 54px;

    @media (max-width: 992px) {
      min-width: 40px;
      height: 47px;
    }

    @media (max-width: 568px) {
      min-width: 32px;
      height: 37px;
    }
  }

  .logo__name {
    @extend %raleway-700;
    font-size: 30px;
    line-height: 85%;

    @media (max-width: 992px) {
      font-size: 26px;
    }

    @media (max-width: 568px) {
      font-size: 20px;
    }
  }

  .logo__slogan {
    @extend %raleway-500;
    font-size: 14px;
    line-height: 100%;

    @media (max-width: 1420px) {
      display: none;
    }
  }

  .contact-m {
    display: none;

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      gap: 34px;
    }

    .contact__link {
      @extend %raleway-700;
      color: $black;
      font-size: 20px;
      line-height: 140%;
      transition: all 0.3s linear;

      &:hover {
        color: lighten($color: $black, $amount: 20%);
      }

      @media (max-width: 805px) {
        display: none;
      }
    }

    .contact__btn-m {
      @extend %raleway-700;
      font-size: 13px;
      line-height: 140%;
      letter-spacing: 0.13px;
      max-width: 181px;
      height: 35px;
      padding: 10px 48px 10px 20px;
      border-radius: 10px;
      background-color: transparent;
      border: 1px solid $black;
      background-image: url('../images/icons/time-m.svg');
      background-repeat: no-repeat;
      background-position: 90% center;

      @media (max-width: 568px) {
        max-width: 109px;
        height: 29px;
        padding: 6px 35px 5px 20px;
        border: 1.5px solid $black;
      }

      span {
        &:nth-child(1) {
          @media (max-width: 568px) {
            display: none;
          }
        }

        &:nth-child(2) {
          @media (max-width: 568px) {
            display: none;
          }
        }

        &:nth-child(3) {
          display: none;
          @extend %raleway-800;

          @media (max-width: 568px) {
            display: block;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.12px;
          }
        }
      }
    }
  }

  .menu {
    .menu__burger {
      display: none;
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      background-image: url('../images/icons/burger.svg');
      background-repeat: no-repeat;
      background-position: center center;

      @media (max-width: 992px) {
        display: block;
      }
    }

    .menu__header {
      display: none;

      @media (max-width: 992px) {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eef1f4;
        padding: 10px 20px 20px 40px;
        margin-bottom: 30px;
      }

      @media (max-width: 568px) {
        .menu__header-contact {
          display: none;
        }
      }

      .menu__header-btn {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .menu__box {
      position: relative;
      display: flex;
      align-items: center;
      gap: 62px;

      @media (max-width: 1200px) {
        gap: 32px;
      }

      @media (max-width: 992px) {
        display: none;

        &.active {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 100;
          width: 88%;
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
          display: block;
          background-color: #fff;
        }
      }
    }

    .menu__close {
      display: none;

      @media (max-width: 992px) {
        position: absolute;
        top: 25px;
        right: -40px;
        display: block;
        background-image: url('../images/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        background-color: transparent;
        width: 19px;
        height: 19px;
      }

      @media (max-width: 568px) {
        right: -30px;
      }
    }

    .menu__list {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
        padding-bottom: 35px;
        border-bottom: 1px solid #eef1f4;
        margin-bottom: 30px;
      }
    }

    .menu__link {
      @extend %raleway-600;
      font-size: 16px;
      line-height: 100%;
      color: $black;
      transition: all 0.3s linear;
      white-space: nowrap;

      &:hover {
        color: lighten($color: $black, $amount: 20%);
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 37px;

    @media (max-width: 1200px) {
      gap: 17px;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 26px 0 40px;
    }
  }

  .contact__slogan {
    position: relative;
    @extend %raleway-500;
    font-size: 12px;
    line-height: 100%;
    padding-left: 42px;

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: url('../images/icons/time.svg');
    }

    @media (max-width: 1300px) {
      display: none;
    }

    @media (max-width: 992px) {
      display: block;
    }
  }

  .contact__btn {
    @extend %btnBlack;

    @media (max-width: 568px) {
      width: 100%;
    }
  }

  .contact__tel {
    @extend %raleway-700;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    line-height: 140%;
    color: $black;
    margin-right: 47px;
    transition: all 0.3s linear;
    &:hover {
      color: lighten($color: $black, $amount: 20%);
    }

    @media (max-width: 1300px) {
      margin-right: 0;
    }
  }
}

/* FOOTER */
.footer {
  padding: 41px 0 45px;
  background-color: #eef0f4;

  @media (max-width: 568px) {
    padding: 25px 0 37px;
  }

  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px;

    @media (max-width: 568px) {
      justify-content: center;
      gap: 27px;
    }
  }

  .logo__slogan {
    display: block;

    @media (max-width: 992px) {
      font-size: 11px;
    }
    @media (max-width: 568px) {
      font-size: 12px;
    }
  }

  .menu {
    @media (max-width: 1100px) {
      order: 1;
    }

    @media (max-width: 992px) {
      display: block;
    }

    .menu__box {
      @media (max-width: 992px) {
        display: block;
      }
    }

    .menu__list {
      @media (max-width: 992px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        margin: 0;
      }
    }

    .menu__link {
      font-size: 14px;
    }
  }

  .footer__contact {
    display: flex;
    align-items: center;
    gap: 37px;

    @media (max-width: 992px) {
      flex-direction: row;
      padding: 0;
    }

    @media (max-width: 568px) {
      display: none;
    }
  }

  .footer__contact-slogan {
    position: relative;
    @extend %raleway-500;
    font-size: 12px;
    line-height: 100%;
    padding-left: 42px;

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: url('../images/icons/time.svg');
    }
  }

  .footer__contact-btn {
    @extend %btnBlack;

    @media (max-width: 992px) {
      order: 2;
    }

    @media (max-width: 568px) {
      display: none;
    }
  }

  .footer__contact-tel {
    @extend %raleway-700;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    line-height: 140%;
    color: $black;
    margin-right: 47px;
    transition: all 0.3s linear;
    &:hover {
      color: lighten($color: $black, $amount: 20%);
    }

    @media (max-width: 1300px) {
      margin-right: 0;
    }
  }

  .footer__copy {
    margin-top: 28px;
    padding-top: 28px;
    border-top: 1px solid #d4dae5;

    @media (max-width: 568px) {
      margin-top: 22px;
      padding-top: 15px;
    }
  }

  .footer__text {
    max-width: 1143px;
    font-size: 12px;
    line-height: 130%;
    color: #9fa5ad;

    @media (max-width: 568px) {
      font-size: 11px;
    }
  }
}

/* TOP */
.top {
  background-color: $accent;
  background-image: url('../images/icons/layer-bg.svg');
  background-repeat: no-repeat;
  background-position: 60% 60%;

  @media (max-width: 992px) {
    background-size: 337px;
    background-position: 68% 10px;
  }

  @media (max-width: 768px) {
    background-size: 300px;
    background-position: calc(50% + 140px) 40px;
  }

  .top__inner {
    position: relative;
    display: flex;
    height: 671px;
    padding-top: 70px;

    @media (max-width: 992px) {
      height: 100%;
      padding: 38px 0;
    }
  }

  .top__items {
    position: relative;
    max-width: 845px;
  }

  .top__slogan {
    position: relative;
    @extend %raleway-700;
    color: $white;
    padding-left: 44px;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 9px;

    @media (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 25px;
      padding-left: 40px;
    }

    @media (max-width: 568px) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 25px;
      content: url('../images/icons/speed.svg');

      @media (max-width: 992px) {
        width: 27px;
        height: 27px;
      }

      @media (max-width: 568px) {
        width: 24px;
        height: 24px;
      }
    }

    span {
      font-variant-numeric: lining-nums proportional-nums;
      color: #edff24;
      font-size: 24px;
      line-height: 100%;

      @media (max-width: 992px) {
        font-size: 20px;
      }

      @media (max-width: 568px) {
        font-size: 18px;
      }
    }
  }

  .top__title {
    position: relative;
    @extend %raleway-800;
    font-size: 80px;
    color: $white;
    line-height: 100%;
    letter-spacing: -0.8px;
    margin-bottom: 35px;
    z-index: 1;

    @media (max-width: 992px) {
      font-size: 50px;
      max-width: 480px;
      margin-bottom: 52px;
    }

    @media (max-width: 568px) {
      font-size: 33px;
      margin-bottom: 45px;
    }

    span {
      position: relative;
      color: $accent;
      font-size: 100px;
      line-height: 110%;
      z-index: 1;
      padding-left: 17px;

      @media (max-width: 992px) {
        font-size: 70px;
      }

      @media (max-width: 568px) {
        font-size: 50px;
        padding-left: 7px;
      }

      &::after {
        position: absolute;
        top: 33px;
        left: 0;
        content: '';
        background-color: #fff;
        width: 103%;
        height: 70px;
        z-index: -1;

        @media (max-width: 992px) {
          top: 19px;
          height: 60px;
        }

        @media (max-width: 568px) {
          top: 14px;
          height: 40px;
        }
      }
    }
  }

  .top__list {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 115px;

    @media (max-width: 1300px) {
      flex-wrap: wrap;
      max-width: 550px;
      gap: 23px 33px;
      margin-bottom: 30px;
    }

    @media (max-width: 992px) {
      max-width: 450px;
    }

    @media (max-width: 568px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 52px;
    }
  }

  .top__item {
    position: relative;
    @extend %raleway-700;
    max-width: 290px;
    font-size: 24px;
    line-height: 100%;
    color: $white;
    padding-left: 54px;

    @media (max-width: 992px) {
      font-size: 18px;
      padding-left: 40px;
    }

    @media (max-width: 568px) {
      font-size: 16px;
      padding-left: 40px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: url('../images/icons/top-ok.svg');
      width: 42px;
      height: 42px;

      @media (max-width: 992px) {
        width: 32px;
        height: 32px;
      }

      @media (max-width: 568px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  .top__mobile-hidden {
    @media (max-width: 568px) {
      display: none;
    }
  }

  .top__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;

    @media (max-width: 992px) {
      gap: 25px;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 34px;
    }
  }

  .top__text {
    position: relative;
    @extend %raleway-600;
    font-variant-numeric: lining-nums proportional-nums;
    max-width: 440px;
    color: #d8e2f0;
    font-size: 16px;
    line-height: 100%;
    padding-left: 40px;

    @media (max-width: 992px) {
      font-size: 14px;
    }

    @media (max-width: 568px) {
      font-size: 13px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: url('../images/icons/defender.svg');
    }
  }

  .top__btn {
    @extend %btn;
    height: 60px;

    @media (max-width: 568px) {
      height: 50px;
    }
  }

  .top__img {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: -150px;
    width: 706px;
    height: 625px;

    @media (max-width: 1600px) {
      right: 0;
    }

    @media (max-width: 1200px) {
      width: 506px;
      height: auto;
    }

    @media (max-width: 992px) {
      right: calc(50% - 385px);
      width: 400px;
      top: 45%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

/* ABOUT */
.about {
  padding: 30px 0 50px;

  @media (max-width: 568px) {
    padding: 30px 0;
  }
  .about__title {
    @extend %h2;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      margin-bottom: 12px;
    }
  }

  .about__inner {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 40px;

    @media (max-width: 992px) {
      gap: 30px;
    }

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .about__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 19px;
    }

    @media (max-width: 568px) {
      gap: 17px;
    }
  }

  .about__top-text {
    @extend %raleway-500;
    font-size: 18px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    &-first {
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 24px;

      @media (max-width: 992px) {
        font-size: 18px;
      }

      @media (max-width: 568px) {
        font-size: 16px;
      }
    }
  }

  .about__box {
    .about__top-text {
      margin-bottom: 20px;

      @media (max-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }

  .about__text {
    max-width: 600px;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 568px) {
      font-size: 14px;
    }
  }

  .about__team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    @media (max-width: 992px) {
      gap: 10px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  .about__decor-box {
    display: flex;
  }

  .about__img {
    @media (max-width: 992px) {
      min-width: 242px;
      height: 134px;
    }

    @media (max-width: 768px) {
      min-width: 224px;
      height: 124px;
    }

    @media (max-width: 450px) {
      min-width: 200px;
      height: 110px;
    }
  }

  .about__cercle {
    position: relative;
    left: -30px;
    @extend %raleway-800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 80%;
    letter-spacing: -0.16px;
    min-width: 154px;
    height: 154px;
    text-align: center;
    border-radius: 50%;
    color: $white;
    background-color: $accent;

    @media (max-width: 992px) {
      font-size: 14px;
      min-width: 134px;
      height: 134px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      min-width: 124px;
      height: 124px;
    }

    @media (max-width: 450px) {
      min-width: 110px;
      height: 110px;
    }
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .about__list-first {
    border-radius: 20px;
    border: 0.7px solid #d8e2f0;
    margin-bottom: 41px;

    @media (max-width: 992px) {
      margin-bottom: 15px;
    }

    .about__item {
      position: relative;
      padding: 85px 105px 46px 55px;
      border-right: 0.7px solid #d8e2f0;

      @media (max-width: 992px) {
        padding: 21px 69px 11px 30px;
      }

      @media (max-width: 768px) {
        padding: 26px 90px 26px 34px;
        border-right: none;
        border-bottom: 0.7px solid #d8e2f0;

        &:last-child {
          border-bottom: none;
        }
      }

      &:last-child {
        border-right: none;
      }

      &-garanty::after {
        content: url('../images/icons/garanty.svg');
        position: absolute;
        top: 30px;
        right: 30px;
        width: 62px;
        height: 55px;

        @media (max-width: 992px) {
          top: 15px;
          right: 15px;
          width: 40px;
          height: 40px;
        }
      }

      &-calendar::after {
        content: url('../images/icons/calendar.svg');
        position: absolute;
        top: 30px;
        right: 30px;
        width: 46px;
        height: 52px;

        @media (max-width: 992px) {
          top: 15px;
          right: 15px;
          width: 36px;
          height: 36px;
        }
      }

      &-accept::after {
        content: url('../images/icons/accept.svg');
        position: absolute;
        top: 30px;
        right: 30px;
        width: 54px;
        height: 55px;

        @media (max-width: 992px) {
          top: 15px;
          right: 15px;
          width: 38px;
          height: 38px;
        }
      }
    }
    .about__name {
      @extend %raleway-700;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.24px;
      margin-bottom: 10px;

      @media (max-width: 992px) {
        max-width: 150px;
        font-size: 18px;
        margin-bottom: 5px;
      }

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
    .about__desc {
      @extend %raleway-400;
      font-size: 16px;
      line-height: 130%;

      @media (max-width: 992px) {
        font-size: 12px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .about__list-second {
    .about__item {
      position: relative;
      @extend %raleway-400;
      padding-left: 60px;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.2px;
      margin-left: 55px;

      @media (max-width: 992px) {
        margin-left: 30px;
        padding-left: 30px;
      }

      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-left: 0;
        margin-bottom: 16px;
      }

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: url('../images/icons/about-ok.svg');
        width: 42px;
        height: 42px;

        @media (max-width: 992px) {
          width: 23px;
          height: 23px;
        }
      }
    }
    .about__name {
      @extend %raleway-600;

      @media (max-width: 992px) {
        font-size: 15px;
      }
    }
    .about__desc {
      @extend %raleway-600;
      color: $lightGrey;

      @media (max-width: 992px) {
        font-size: 15px;
      }
    }
  }
}

/* WORK */

.work {
  padding-bottom: 96px;

  @media (max-width: 992px) {
    padding-bottom: 40px;
  }

  @media (max-width: 568px) {
    padding-bottom: 30px;
  }

  .container-main {
    @media (max-width: 992px) {
      padding: 0;
    }
  }

  .container {
    @media (max-width: 568px) {
      padding: 0 11px;
    }
  }

  .work__inner {
    border-radius: 50px;
    background: #eef0f4;
    padding: 55px 0 60px;

    @media (max-width: 992px) {
      padding: 25px 0;
    }
  }

  .work__top {
    margin-bottom: 63px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  .work__title {
    @extend %h2;
    margin-bottom: 35px;

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      padding: 0 25px;
    }
  }

  .work__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  .work__top-slogan {
    @extend %raleway-500;
    max-width: 360px;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 1450px) {
      font-size: 18px;
      max-width: 100%;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 0 25px;
    }
  }

  .work__top-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 992px) {
      width: 100%;
      overflow: auto;
    }
  }

  .work__top-item {
    position: relative;
    @extend %raleway-600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    height: 69px;
    padding: 10px 30px 10px 67px;
    border-radius: 80px;
    border: 1px solid #cbd4e8;
    background: $white;

    @media (max-width: 992px) {
      font-size: 16px;
      height: 60px;
    }

    &:nth-child(1)::before {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      left: 30px;
      width: 20px;
      height: 31px;
      content: url('../images/icons/door.svg');
    }
    &:nth-child(2)::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: 27px;
      height: 21px;
      content: url('../images/icons/avto.svg');
    }

    &:nth-child(3)::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: 27px;
      height: 27px;
      content: url('../images/icons/garage.svg');
    }

    &:nth-child(4)::before {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      left: 30px;
      width: 27px;
      height: 27px;
      content: url('../images/icons/safe.svg');
    }
  }

  .work__top-item-first {
    @extend %raleway-600;
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 60px;
    gap: 10px;
    border: 2px solid $accent;

    span:nth-child(1) {
      font-size: 18px;
      font-weight: 600;
      line-height: 100%;
      color: $black;

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }

    span:nth-child(2) {
      font-size: 13px;
      line-height: 100%;
      color: $lightGrey;
    }
  }
}

.service {
  .service__item {
    padding: 50px 73px 40px 0px;
    border-radius: 20px;
    background-color: $white;
    margin-bottom: 63px;

    display: grid;
    grid-template-columns: 1fr 654px;
    grid-template-rows: repeat(2, auto);
    column-gap: 30px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 355px;
    }

    @media (max-width: 992px) {
      grid-template-rows: repeat(2, auto);
      padding: 30px 27px 34px 0;
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 15px 23px 27px 31px;
      margin-bottom: 10px;
    }
  }

  .service__img-box {
    position: relative;
    top: -76px;
    left: -50px;
    grid-area: 1 / 1 / 3 / 2;

    @media (max-width: 1450px) {
      left: -10px;
    }

    @media (max-width: 992px) {
      top: -40px;
      left: 20px;
      grid-area: 1 / 1 / 2 / 2;
    }

    @media (max-width: 768px) {
      position: static;
      grid-area: 2 / 1 / 3 / 2;
      margin-bottom: 40px;
    }
  }

  .service__img {
    width: 557px;
    margin-bottom: 8px;

    @media (max-width: 992px) {
      width: 290px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .service__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding-left: 100px;

    @media (max-width: 992px) {
      padding-left: 0;
    }

    span:nth-child(1) {
      @extend %raleway-700;
      font-size: 30px;
      line-height: 80%;
      letter-spacing: -0.3px;

      @media (max-width: 992px) {
        font-size: 24px;
      }
    }

    span:nth-child(2) {
      @extend %raleway-400;
      color: #404346;
      font-size: 14px;
      line-height: 120%;

      @media (max-width: 992px) {
        font-size: 13px;
      }
    }
  }

  .service__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      grid-area: 1 / 2 / 2 / 3;
      margin-bottom: 25px;
    }

    @media (max-width: 768px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .service__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: 2 / 2 / 3 / 3;

    @media (max-width: 992px) {
      grid-area: 2 / 1 / 3 / 3;
      padding-left: 73px;
    }

    @media (max-width: 768px) {
      grid-area: 3 / 1 / 4 / 2;
      padding-left: 0;
    }
  }

  .service__title {
    position: relative;
    @extend %h3;
    padding-left: 48px;

    @media (max-width: 992px) {
      padding-left: 36px;
    }

    &-opening::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 31px;
      content: url('../images/icons/door.svg');

      @media (max-width: 768px) {
        top: 0;
        width: 16px;
        height: 27px;
      }
    }

    &-installation::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 27px;
      height: 41px;
      content: url('../images/icons/lock-accent.svg');

      @media (max-width: 992px) {
        width: 21px;
        height: 32px;
      }

      @media (max-width: 768px) {
        top: -1px;
        width: 16px;
        height: 27px;
      }
    }

    &-auto::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 27px;
      height: 21px;
      content: url('../images/icons/avto.svg');

      @media (max-width: 768px) {
        top: 0;
        width: 27px;
        height: 19px;
      }
    }

    &-garage::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 27px;
      height: 27px;
      content: url('../images/icons/garage.svg');

      @media (max-width: 768px) {
        top: -3px;
        width: 24px;
        height: 24px;
      }
    }

    &-safe::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 27px;
      height: 27px;
      content: url('../images/icons/safe.svg');

      @media (max-width: 768px) {
        top: 0;
      }
    }

    &-repair::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 25px;
      height: 36px;
      content: url('../images/icons/lock-accent2.svg');

      @media (max-width: 768px) {
        top: -3px;
        width: 20px;
        height: 28px;
      }
    }
  }

  .service__slogan {
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .service__text {
    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  .service__text-strong {
    position: relative;
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }

    span {
      color: $accent;
    }
  }

  .service__text-strong-decor {
    padding-left: 50px;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      padding-left: 40px;
      font-size: 16px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      content: url('../images/icons/around-clock.svg');

      @media (max-width: 992px) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 768px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  .service__box {
    display: flex;
    gap: 10px;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0;
    }
  }

  .service__list {
    width: 315px;
    padding-left: 20px;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .service__items {
    position: relative;
    font-size: 16px;
    line-height: 150%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $black;
    }

    @media (max-width: 992px) {
      font-size: 15px;
    }
  }

  .service__btn {
    @extend %btn;
    align-self: flex-start;

    @media (max-width: 992px) {
      align-self: auto;
    }
  }
}

/* UPGRADE */
.upgrade {
  margin-bottom: 100px;

  @media (max-width: 992px) {
    margin-bottom: 40px;
  }

  @media (max-width: 568px) {
    margin-bottom: 30px;
  }

  .container {
    @media (max-width: 992px) {
      padding: 0;
    }
  }

  .upgrade__decor {
    position: relative;

    @media (max-width: 992px) {
      overflow: hidden;
    }

    &:after {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      content: url('../images/icons/zig-zag-line.svg');

      @media (max-width: 1992px) {
        display: none;
      }
    }
  }

  .upgrade__title {
    @extend %h2;
    margin-bottom: 30px;
    padding-left: 90px;

    @media (max-width: 992px) {
      margin-bottom: 13px;
      padding-left: 0;
    }
  }

  .upgrade__content {
    display: grid;
    grid-template-columns: 647px auto;
    grid-template-rows: repeat(2, auto);
    border-radius: 30px;
    border: 1px solid $white;
    background-color: #f4f3ff;

    @media (max-width: 992px) {
      grid-template-columns: minmax(250px, 420px) auto;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 25px 20px 21px 36px;
    }
  }

  .upgrade__top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 118px 0 15px 90px;
    grid-area: 1 / 1 / 2 / 2;

    @media (max-width: 992px) {
      grid-area: 1 / 1 / 2 / 2;
      padding: 75px 0 15px 70px;
    }

    @media (max-width: 768px) {
      grid-area: 2 / 1 / 3 / 2;
      padding: 0;
    }

    &::before {
      position: absolute;
      top: 40px;
      left: 110px;
      width: 63px;
      height: 71px;
      content: url('../images/icons/upgrade.svg');

      @media (max-width: 992px) {
        top: 0;
        left: 75px;
      }
      @media (max-width: 768px) {
        width: 32px;
        height: 37px;
        top: -45px;
        left: 15px;
      }
    }
  }

  .upgrade__bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 56px 90px;
    grid-area: 2 / 1 / 3 / 2;

    @media (max-width: 992px) {
      grid-area: 2 / 1 / 3 / 3;
      padding: 0 30px 30px 70px;
    }

    @media (max-width: 768px) {
      grid-area: 3 / 1 / 4 / 2;
      padding: 0;
    }
  }

  .upgrade__img-box {
    grid-area: 1 / 2 / 3 / 3;

    @media (max-width: 992px) {
      grid-area: 1 / 2 / 2 / 3;
    }

    @media (max-width: 768px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .upgrade__text-accent {
    @extend %raleway-700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: $accent;

    @media (max-width: 992px) {
      font-size: 24px;
    }

    @media (max-width: 568px) {
      font-size: 20px;
    }
  }

  .upgrade__text-strong {
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 568px) {
      font-size: 15px;
    }

    span {
      color: $accent;
    }
  }

  .upgrade__text {
    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 568px) {
      font-size: 15px;
    }
  }

  .upgrade__btn {
    @extend %btn;
    background-color: $accent;

    @media (max-width: 992px) {
      align-self: flex-start;
    }

    &:hover {
      background-color: lighten($color: $accent, $amount: 10%);
    }
  }

  .upgrade__img {
    padding: 50px 35px 40px 0;

    @media (max-width: 992px) {
      width: 230px;
      height: 318px;
      padding: 25px 10px 0 0;
    }

    @media (max-width: 768px) {
      margin: 0 auto;
      padding: 0 0 7px 0;
    }
  }

  .decor {
    position: relative;
    z-index: 1;
  }
}

/* STAGE */

.stages {
  margin-bottom: 120px;

  @media (max-width: 992px) {
    margin-bottom: 60px;
  }

  @media (max-width: 568px) {
    margin-bottom: 40px;
  }

  .container {
    @media (max-width: 568px) {
      padding-right: 0;
    }
  }

  .stages__inner {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 70px;
    gap: 46px 140px;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }

    @media (max-width: 992px) {
      gap: 20px;
    }
  }

  .stages__top {
    grid-area: 1 / 1 / 2 / 2;

    @media (max-width: 1400px) {
      grid-area: 1 / 1 / 2 / 2;
    }

    @media (max-width: 568px) {
      padding-right: 27px;
    }
  }

  .stages__title {
    @extend %h2;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      margin-bottom: 6px;
    }
  }

  .stages__inner .stages__slogan {
    font-size: 20px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 568px) {
      font-size: 16px;
    }
  }

  .stages__btn-box {
    grid-area: 2 / 1 / 3 / 2;

    @media (max-width: 1400px) {
      width: 300px;
      margin: 0 auto;
      grid-area: 3 / 1 / 4 / 2;
    }

    @media (max-width: 568px) {
      width: 100%;
      padding-right: 27px;
    }
  }

  .stages__btn {
    @extend %btn;

    @media (max-width: 1400px) {
      margin: 0 auto;
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .stages__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    grid-area: 1 / 2 / 3 / 3;

    @media (max-width: 1400px) {
      grid-area: 2 / 1 / 3 / 2;
    }

    @media (max-width: 992px) {
      width: 100%;
      overflow: auto;
    }
  }

  .stages__box {
    position: relative;
    width: 190px;

    @media (max-width: 992px) {
      width: 100%;
      min-width: 190px;
    }

    @media (max-width: 568px) {
      min-width: 162px;
    }
  }

  .stages__cercle {
    @extend %raleway-500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.24px;
    border-radius: 50%;
    color: $accent;
    width: 70px;
    height: 70px;
    border: 1px solid #c7b0e3;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      width: 50px;
      height: 50px;
    }

    &1:after {
      position: absolute;
      top: 37px;
      left: 70px;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #e9e3f0;
    }
  }

  .stages__subtitle {
    @extend %raleway-600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.2px;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  .stages__text {
    font-size: 16px;

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  .stages__tel {
    @extend %raleway-700;
    display: block;
    font-size: 20px;
    line-height: 140%;
    color: $black;
    margin-top: 10px;

    @media (max-width: 568px) {
      font-size: 18px;
    }
  }
}

/* INFO */

.info {
  margin-bottom: 60px;

  .container-main {
    padding: 0;
  }

  .container {
    @media (max-width: 992px) {
      padding-right: 0;
    }
  }

  .info__inner {
    border-radius: 50px;
    background-color: #eef0f4;
  }

  .price {
    padding: 55px 0 47px;
    border-radius: 50px;
    background-color: $accent;
    background-image: url(../images/icons/info-bg.svg);
    background-repeat: no-repeat;
    background-position: 73% bottom;

    @media (max-width: 992px) {
      padding: 35px 0;
      background-position: 115% bottom;
      background-size: 245px;
    }
  }

  .price__title {
    @extend %h2;
    color: $white;
    margin-bottom: 31px;

    @media (max-width: 992px) {
      padding-right: 72px;
      margin-bottom: 13px;
    }
  }

  .price__list {
    display: flex;
    gap: 5px;
    margin-bottom: 34px;

    @media (max-width: 1400px) {
      width: 100%;
      overflow: auto;
    }
  }

  .price__item {
    position: relative;
    min-width: 254px;
    border-radius: 20px;
    background: $white;
    padding: 60px 25px 21px 30px;

    &::before {
      position: absolute;
      top: 15px;
      right: 25px;
      content: url('../images/icons/ok-accent.svg');
    }
  }

  .price__num {
    @extend %raleway-700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.4px;

    @media (max-width: 992px) {
      font-size: 30px;
    }
  }

  .price__desc {
    font-size: 18px;
    line-height: 130%;

    @media (max-width: 992px) {
      font-size: 16px;
    }
    @media (max-width: 568px) {
      font-size: 14px;
    }
  }

  .price__text {
    position: relative;
    @extend %raleway-600;
    max-width: 400px;
    font-size: 18px;
    line-height: 110%;
    color: $white;
    padding-left: 30px;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      content: url('../images/icons/important.svg');
    }
  }

  .faq {
    padding: 55px 0 50px;
  }

  .faq__title {
    @extend %h2;
    margin-bottom: 31px;
  }

  .faq__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .faq__question {
    border-radius: 20px;
    background: $white;
    padding: 25px 60px 30px 102px;
  }

  .faq__subtitle {
    @extend %raleway-600;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .faq__text {
    font-size: 16px;
    line-height: 130%;
  }
}

/* GALLERY */

.galery {
  .galery__title {
    @extend %h2;
    padding-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #575757;
  }
}

/* LOCATION */

.location {
  &__inner {
    height: 897px;
    background-image: url('../images/map-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 0 188px 0;
}
.map__item {
  position: relative;
}
.map__title {
  @extend %h3;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.map__text {
  max-width: 595px;
  margin-bottom: 43px;
}
.map__slogan {
  position: relative;
  @extend %raleway-500;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 40px;
  padding-left: 50px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('../images/icons/ok-accent2.svg');
  }
}
.map__box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.map__num {
  @extend %raleway-700;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $accent;
}
.map__desc {
  @extend %raleway-500;
  font-size: 16px;
  line-height: 130%;
  max-width: 317px;
}
.map__circle {
  position: absolute;
  bottom: -90px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  width: 236px;
  height: 236px;
  background-color: $accent;
  border-radius: 50%;
}
.map__circle-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 35px;
  &:after {
    position: absolute;
    top: 0;
    left: 20px;
    content: url('../images/icons/important2.svg');
  }
}
.map__circle-desc {
  @extend %raleway-700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.2px;
}
.map__circle-num {
  @extend %raleway-700;
  color: #bd8ef8;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.16px;
}

/* REVIEWS */

.reviews {
  margin-top: -75px;
}
.reviews__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 61px;
  border-bottom: 1px solid #d9d9d9;
}
.reviews__item {
  max-width: 321px;
}
.reviews__items {
  display: flex;
  gap: 30px;
}
.reviews__title {
  @extend %h2;
  margin-bottom: 20px;
}
.reviews__box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0 35px 0;
}
.reviews__num {
  @extend %raleway-600;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 30px;
  line-height: 120%;
}
.reviews__desc {
  max-width: 162px;
  font-size: 14px;
  line-height: 110%;
  color: $grey;
}
.reviews__text {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 17px;
}
.reviews__more {
  @extend %raleway-600;
  font-size: 18px;
  line-height: 130%;
}

/* CONTACT */

.order {
  padding: 50px 0;
}

.order__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.order__slogan {
  position: relative;
  @extend %raleway-600;
  max-width: 700px;
  font-size: 33px;
  line-height: 120%;
  padding-left: 73px;

  @media (max-width: 992px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    text-align: center;
    padding-left: 0;
    padding-top: 43px;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 40px;
    content: url('../images/icons/phone.svg');

    @media (max-width: 768px) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
    }
  }

  span {
    color: $accent;
  }
}

.order__box {
  display: flex;
  align-items: center;
  gap: 37px;
}

.order__desc {
  position: relative;
  @extend %raleway-500;
  font-size: 12px;
  line-height: 100%;
  padding-left: 42px;

  @media (max-width: 1200px) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left: 0;
    content: url('../images/icons/around-clock2.svg');
  }
}

.order__link {
  @extend %raleway-600;
  font-variant-numeric: lining-nums proportional-nums;
  white-space: nowrap;
  font-size: 30px;
  line-height: 140%;
  color: $black;
  border-bottom: 1px solid $black;
  transition: all 0.3s linear;

  &:hover {
    color: lighten($color: $black, $amount: 20%);
  }

  @media (max-width: 992px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

@import 'media';
/* медиа-запросы */
